<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
         <h1 class="ml-3 text-3xl text-center text-yellow-400 ">Bollwood Movies</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white">"Bollywood" is the moniker for India's Hindi-language film industry, renowned for its vibrant storytelling, colorful musical numbers, and larger-than-life narratives that captivate audiences worldwide.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/oso.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Om Shanti Om</h1>
              <p class="leading-relaxed">Om Shanti Om" follows the journey of Om A reincarnated man seeks who revenge in the world of Bollywood while navigating love, fame, and the mysteries of his past life.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/maxresdefault.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Kal Ho Naa Ho</h1>
              <p class="leading-relaxed">"Kal Ho Naa Ho" portrays the bittersweet tale of Naina's journey, intertwined with the arrival of Aman, who brings love into her life despite his own hidden battles.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/3_idiots.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">3 Idiots</h1>
              <p class="leading-relaxed">"3 Idiots" chronicles the comedic and insightful adventures of three friends navigating the challenges of education, societal norms, and personal aspirations.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/kabhi-khushi-kabhie-gham-1702532891.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Kabhi Kushi Kabhi Gum</h1>
              <p class="leading-relaxed">
                "Kabhi Khushi Kabhie Gham" explores family dynamics and love amidst societal pressures, tracing the journey of two brothers and their quest for reconciliation.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/B88AD376-D91D-4023-8098-B392A79C96EA.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Chhichhore</h1>
              <p class="leading-relaxed">"Chhichhore" captures the heartwarming tale of college friends who reunite to share their past adventures, imparting invaluable life lessons along the way.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/102347021.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">

              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Koi Mil Gaya</h1>
              <p class="leading-relaxed">"Koi Mil Gaya" is a heartwarming tale of Rohit forming an unlikely bond with an alien visitor, leading to touching adventures and profound life lessons.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
