
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
         <h1 class="ml-3 text-3xl text-center text-yellow-400 ">Hollywood Movies</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white">
            Hollyhood: where dreams are spun into cinematic gold, and stars are born under the glow of studio lights. It's a place where reality intertwines with fantasy, creating a tapestry of stories that captivate and inspire. From the iconic Hollywood sign to the bustling streets of Tinseltown, it's a world where imagination knows no bounds.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/2AD4Y39.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">

              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Wolf of Wallstreet</h1>
              <p class="leading-relaxed">Wolf of Wallstreet is a cinimatic documentory that dwells into the Extravigant life of Wallstreet Broker Jorden Belford </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/movies-fight-club-brad-pitt-edward-norton-tyler-durden-1920x1080-entertainment-movies-hd-art-wallpaper-thumb.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Fight Club</h1>
              <p class="leading-relaxed">The first rule of Fight Club is: you do not talk about Fight Club. The second rule of fight club is you dooo not talk aboiut fight club!</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/63f8e7039ce6f0e075ca9217_The Matrix - Movies.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">The Matrix</h1>
              <p class="leading-relaxed">In a dystopian future, a computer hacker learns the truth about reality and joins a rebellion against machines that control humanity </p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/40-facts-about-the-movie-american-psycho-1687434405.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Amarican Psycho</h1>
              <p class="leading-relaxed">A wealthy New York banker hides his psychopathic ego from his coworkers and friends as he indulges in increasingly violent and disturbing fantasies</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/34-facts-about-the-movie-happy-gilmore-1687671429.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">Happy Gilmore</h1>
              <p class="leading-relaxed">A failed hockey player turns to golf in order to save his grandmother's house from foreclosure, encountering comedic obstacles and rivalries along the way.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="assets/Joker_Poster_Todd_Phillips_FB.jpg">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-800 bg-gray-900 opacity-0 hover:opacity-100">
              <h1 class="title-font text-lg font-medium text-yellow-400 mb-3">The Joker</h1>
              <p class="leading-relaxed">A mentally troubled comedian descends into madness and becomes the iconic villain known as the Joker, triggering chaos and societal unrest in Gotham City."              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
